<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="Logs\log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Info\"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Error\"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyyMMdd&quot;.txt&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <regExToMatch value="^(?!Statement Id:)|Statement Id: \[\w+?\.(?:Insert|Update|Delete)"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </root>
    <!--additivity=false不会把日志写入到log.txt，断开logger与root的继承关系-->
    <logger name="ErrorLogger" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <!--关闭 NHibernate 日志记录-->
    <!--<logger name="NHibernate" additivity="false">
    <level value="OFF" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>
  　 <logger name="NHibernate.SQL" additivity="false">
    <level value="OFF" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>-->
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
